Source: pytango
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Picca Frédéric-Emmanuel <picca@debian.org>
Build-Depends: debhelper (>= 8.0.0),
	       python-all-dev (>= 2.6.6-3~),
	       liblog4tango4-dev,
	       libtango7-dev (>= 7.2),
	       libboost-python-dev,
	       python-numpy (>= 1:1.4.1-4~),
	       ipython,
	       python-sphinx (>= 1.0.7+dfsg),
	       graphviz
X-Python-Version: >= 2.5
Standards-Version: 3.9.2
Homepage: http://www.tango-controls.org/static/PyTango/latest/doc/html/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/pytango.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/pytango.git

Package: python-pytango
Section: python
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 ${python:Depends},
	 ${sphinxdoc:Depends},
	 ipython
Provides: ${python:Provides}
Description: API for the TANGO control system
 TANGO is an object oriented distributed control system using CORBA,
 mainly developed by the Controls Section of the ALBA Synchrotron.
 PyTango provides bindings for its client- and server-side C++ APIs.
 With PyTango, you can write TANGO device servers and TANGO applications
 (scripts, CLIs, GUIs) that access TANGO device servers in pure Python.

